<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field hintLabel="Enter Your E-Mail">
            <input 
            type="email" 
            matInput placeholder="Your Email" 
            ngModel 
            name="email"
            email
            required
            #emailInput="ngModel">
        </mat-form-field>
        <mat-form-field hintLabel="Enter Your Password">
            <input 
            type="password" 
            matInput 
            placeholder="Your Password" 
            ngModel 
            name="password"
            required
            >
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
    </form>
</section>

